---
layout: front
title: Main
---


<div class="project-feed">
{% for post in site.posts reversed limit: 5 %}
    <article class="project-card">
        <div class="project-card-content">
            <a class="project-card-content-link" href="{{post.url}}">
                <header class="project-card-header">
                    {% if post.tags.size > 0 %}
                        {% for tag in post.tags %}
                            {% if forloop.index == post.tags.size %}
                                <span class="project-card-tags">{{ tag | capitalize }}</span>
                            {% else %}
                               <span class="project-card-tags">{{ tag | capitalize }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <h2 class="project-card-title">{{ post.title }}</h2>
                </header>
                <section class="project-card-excerpt">
                    {% if post.excerpt %}
                        <p>{{ post.excerpt | strip_html | truncatewords: 33, "" }}</p>
                    {% else %}
                        <p>{{ post.content | strip_html | truncatewords: 33, "" }}</p>
                    {% endif %}
                </section>
            </a>
        </div>
    </article>
{% endfor %}
</div>
