---
layout: front
title: Main
---

<!-- Project-->
<section class="index-part">
<h1> Projects </h1>
<div class="project-feed">
{% for post in site.categories.projects reversed limit: 5 %}
    <article class="project-card">
        <div class="project-card-content">
            <a class="project-card-content-link" href="{{post.url}}">
                <header class="project-card-header">
                    {% if post.tags.size > 0 %}
                        {% for tag in post.tags %}
                            {% if forloop.index == post.tags.size %}
                                <span class="project-card-tags">{{ tag | capitalize }}</span>
                            {% else %}
                               <span class="project-card-tags">{{ tag | capitalize }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <h2 class="project-card-title">{{ post.title }}</h2>
                </header>
                <section class="project-card-excerpt">
                    {% if post.excerpt %}
                        <p>{{ post.excerpt | strip_html | truncatewords: 33, "" }}</p>
                    {% else %}
                        <p>{{ post.content | strip_html | truncatewords: 33, "" }}</p>
                    {% endif %}
                </section>
            </a>
        </div>
    </article>
{% endfor %}
</div>
</section>

<!-- Publications -->
<section class="index-part">
<h1> Publications </h1>
{% for post in site.data.publications.list %}

<article class="post-preview">
  <a href="{{ post.url }}">
    <h3 class="post-title">{{ post.title }}</h3>
    <h4 class="post-description"> <i> {{ post.authors }} </i></h4>
    <h4 class="post-description"> {{ post.journal }} </h4>
  </a>
</article>

<hr class="poststyle">

{% endfor %}
</section>

<!-- Blog-->
<section class="index-part">
<h1> Blog </h1>
<div class="project-feed">
{% for post in site.categories.blog reversed limit: 6 %}
    <article class="project-card">
        <div class="project-card-content">
            <a class="project-card-content-link" href="{{post.url}}">
                <header class="project-card-header">
                    {% if post.tags.size > 0 %}
                        {% for tag in post.tags %}
                            {% if forloop.index == post.tags.size %}
                                <span class="project-card-tags">{{ tag | capitalize }}</span>
                            {% else %}
                               <span class="project-card-tags">{{ tag | capitalize }}</span>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <h3 class="project-card-title">{{ post.title }}</h3>
                </header>
                <section class="project-card-excerpt">
                    {% if post.excerpt %}
                        <p>{{ post.excerpt | strip_html | truncatewords: 33, "" }}</p>
                    {% else %}
                        <p>{{ post.content | strip_html | truncatewords: 33, "" }}</p>
                    {% endif %}
                </section>
            </a>
        </div>
    </article>
{% endfor %}
</div>
</section>
