<div id="footer" class="foot">
    <section class="contact">
        <ul class="icons">
            <li><a href="https://github.com/meenurajapandian"><i class="fab fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/meenusree-rajapandian/"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="mailto:mrajapan@purdue.edu"><i class="fas fa-envelope"></i></a></li>
            <li><a href="https://twitter.com/_meenu_raj"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </section>
    <div class="copyright">
        <p> All rights reserved.</p>
    </div>
</div>
