<!DOCTYPE html>
<div id="header" class="head">
    <div class="site-title">
        <head>
            <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
            <script src = "{{site.baseurl}}/js/main.js" ></script>
            {{ site.title }}
        </head>
    </div>
    <nav id="nav">
        <a href="/about">About</a>
        <a href="/art">Art</a>
        <a href="/posts">Blog</a>
        <a href="/projects">Projects</a>
        <a href="/index">Main</a>
    </nav>
</div>
