<!DOCTYPE html>
<html>
    <div class="content">
        {% include header.html %}
        <div class="blog-inside">
            <h1><b>{{ page.title }}</b></h1>
            <h6>{{ page.date | date_to_string }}</h6>

            <h4> Goal </h4> {{page.goal}}
            <h4> Result </h4> {{page.result}}
            <h4> Tools Used </h4> {{page.tools}}
            <div markdown="1" class="blog-content">
                {{content}}
            </div>
        </div>
    </div> <!--To push the footer to the bottom of the page-->
    {% include footer.html %}
</html>
