<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
    <script src="https://kit.fontawesome.com/7a015c6a1f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src = "{{site.baseurl}}/js/header.js" ></script>
  </head>
    <div class="content">
      <div id="header" class="header header-1" data-visible-range="0-5">
          <div class="site-title">
              <head>
                  {{ site.title }}
              </head>
          </div>
          <nav id="nav">
              <a href="/about">About</a>
              <a href="/art">Art</a>
              <a href="/posts">Blog</a>
              <a href="/projects">Projects</a>
              <a href="/index">Main</a>
          </nav>
      </div>
      <div id="header" class="header header-2" data-visible-range="101 -">
          <div class="site-title">
              <head>
                  {{ site.title }}
              </head>
          </div>
          <nav id="nav">
              <a href="/about">About</a>
              <a href="/art">Art</a>
              <a href="/posts">Blog</a>
              <a href="/projects">Projects</a>
              <a href="/index">Main</a>
          </nav>
      </div>
      <div class="overlay">

      </div>
      <div class="cover-image">
      <img src="{{ site.baseurl }}/cover-min.JPG" alt="portrait" style="width:100%">
      </div>

<!-- About Me -->
<div class="intro">
  <div style="text-align: right; width: 200px; padding: 10px 10px;">
      <h1> About <br> Me </h1>
  </div>
  <div style="flex: 1 1 250px; padding: 35px 20px;">
    <p style="line-height: 1.5em;">
      I am a Data Analyst at Gecko Robotics Inc where I help make sense of the huge streams of data that our robots capture.
      My work revolves around Statistics, Machine Learning and Visualizations that help our customers understand their asset and meet their inspection needs.
      I have a Masters in Industrial Engineering from Purdue University with a focus on Data Science and Operations Research (2020).
      This site is my attempt at extending my modelling and visualization skills beyond work. Art, Music and Cooking consume the rest of my time.
    </p>
  </div>
</div>


      <div class="skills">
        <div class="skill">
          <i class="fas fa-chart-line fa-2x" style="color: #FFFFFF; margin: 0.8em"></i> <br>
          <h3> Insights </h3>
        </div>
        <div class="skill">
          <i class="fas fa-dice-d20 fa-2x" style="color: #FFFFFF; margin: 0.8em"></i> <br>
          <h3> Modelling </h3>
        </div>
        <div class="skill">
          <i class="fas fa-magic fa-2x" style="color: #FFFFFF; margin: 0.8em"></i> <br>
          <h3> Visualization </h3>
        </div>
      </div>

      <div class="content-inside">
        {{content}}
      </div>

    </div> <!--To push the footer to the bottom of the page-->
    {% include footer.html %}
</html>
