<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ site.baseurl }}/css/main.css" >
<script src="https://kit.fontawesome.com/7a015c6a1f.js" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Quicksand&display=swap" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script src = "{{site.baseurl}}/js/header.js" ></script>
</head>
<div class="header header-1" data-visible-range="0-100">Header 1</div>
<div class="header header-2" data-visible-range="101-500">Header 2</div>
<div class="header header-3" data-visible-range="501-">Header 3</div>
<div class="body">BODY</div>
</html>
